{% extends 'base.html.twig' %}

{% block title %}Edit Absence{% endblock %}

{% block body %}
    <h1>Edit Absence</h1>

    {{ include('absence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('absence_index') }}">back to list</a>

    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}
