{% extends 'base.html.twig' %}

{% block title %}New Absence{% endblock %}

{% block body %}
    <h1>Create new Absence</h1>

    {{ include('absence/_form.html.twig') }}

    <a href="{{ path('absence_index') }}">back to list</a>
{% endblock %}
