<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
{% block footer %}
    <footer>
        <h5>Dpto Informática IES Ingeniero de la Cierva</h5>
    </footer>
{% endblock %}
</html>
